.ngFooterPanel {
    margin-left: 1px;
    margin-right: 1px;
}
@media screen and (max-width: 767px) {
    .right-side > .content-header > h1 {
        font-size: 14px;
    }
    .right-side > .content-header{
        padding: 2px;
    }
    .content{
        padding: 2px;
    }

    .breadcrumb{
        display:none;
    }
}


.skin-blue .navbar {
  background-color: rgb(51,151,157);
}
.skin-blue .logo:hover {
  background: rgb(51,151,157);
}

.user-panel > .image > img {
    width: 198px;
    height: auto;
}

.user-panel > .info {
    display:none;
}

.img-circle{
    border-radius: 0%;

}